* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
    margin: 0 auto;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: grid;
    text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    color: hsl(0, 0%, 40%);
}

a:active {
    color: hsl(245, 39%, 33%);
}

.navigation ul li {
    display: inline-block;
    padding: 0 20px;
}

img {
  margin: 0 30px;
  width: 100px;
  height: auto;
}

h2 {
  margin-bottom: 0;
}
