* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

nav {
    background-color: rgb(27, 109, 137);
    width: 100%;
    position: fixed;
    opacity: 0.75;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 15px 40px;
    text-transform: uppercase;
}

nav ul li:hover {
    color: rgb(27, 109, 137);
    background-color: aliceblue;
}

nav a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
    padding-top: 100px;

}

img {
    max-width: 40%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
}

main {
    text-align: center;
}
main ul p{
    display: inline-block;
    vertical-align: middle;
}

main ul li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px;
}

#ham {
    background-image: url('../images/Ham.webp');
    background-size: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: width 300ms ease, height 300ms ease;
}
#ham:hover {
    height: 150px;
    width: 150px;
}

#butter {
    background-image: url('../images/butter.webp');
    background-size: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: width 300ms ease, height 300ms ease;
}

#butter:hover {
    height: 150px;
    width: 150px;
}

#pb {
    background-image: url('../images/peanut\ butter.jpeg');
    background-size: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    transition: width 300ms ease, height 300ms ease;
}

#pb:hover {
    height: 150px;
    width: 150px;
}

footer {
    background-color: aliceblue;
    text-align: center;
    color: rgb(97, 96, 96);
    padding: 10px 0;
    opacity: 0.75;
    font-weight: 400;
}
